body{
    background-color: purple;
   font-family: 'Secular One', sans-serif;
}

h1{
  font-family: 'Secular One', sans-serif;
}

span{
       font-family: 'Bebas Neue', cursive;
        font-size: 20pt;
        letter-spacing: 1px;
}
